/* RaghuMalayalamSans */

@font-face {
  font-family: "RaghuMalayalamSans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff2?v=Version2.2.1)
    format("woff2");
  unicode-range: U+0000-02DC, U+0D01-0D7F, U+200C, U+200D, U+25CC;
}
