<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#00A7D0" />
    <meta name="description" content="Swathanthra Malayalam Computing" />
    <meta
      name="keywords"
      content="SMC, Swathanthra Malayalam Computing, Malayalam, Community, Wiki, Manjari, Gayathri, Chilanka, AnjaliOldLipi, Dyuthi, Keralayeeyam, Uroob, Rachana, Meera"
    />
    <!-- Do not remove. Required for subdomains managed by Google -->
    <meta
      name="google-site-verification"
      content="ctE6-TnD6TKmZ5OU-jTjAAU5mE2sOuRBC42SE-BBCWE"
    />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Swathanthra Malayalam Computing" />
    <meta property="og:url" content="https://smc.org.in" />
    <meta property="og:title" content="Swathanthra Malayalam Computing" />
    <meta
      property="og:description"
      content="Swathanthra Malayalam Computing (SMC) is a free software collective engaged in development, localization, standardization and popularization of various Free and Open Source Softwares in Malayalam language."
    />
    <meta property="og:image" content="<%= BASE_URL %>favicon.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@santhoshtr" />
    <meta name="twitter:title" content="Swathanthra Malayalam Computing" />
    <meta
      name="twitter:description"
      content="Swathanthra Malayalam Computing (SMC) is a free software collective engaged in development, localization, standardization and popularization of various Free and Open Source Softwares in Malayalam language."
    />
    <meta name="twitter:image" content="<%= BASE_URL %>favicon.svg" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />

    <!-- Mastodon verification -->
    <a rel="me" href="https://floss.social/@smc">Mastodon</a>
    <script data-goatcounter="https://smcorgin.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

    <link rel="icon" type="image/svg+xml" href="<%= BASE_URL %>favicon.svg" />
    <link rel="alternate icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="mask-icon" href="<%= BASE_URL %>favicon.svg" color="#ff8a01" />
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="<%= BASE_URL %>favicon.svg"
    />
    <!-- Preload fonts -->
    <link
      rel="preload"
      href="/downloads/fonts/manjari/Manjari-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/downloads/fonts/manjari/Manjari-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/downloads/fonts/manjari/Manjari-Thin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://rsms.me" />
    <link
      rel="preload"
      href="https://rsms.me/inter/font-files/Inter-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
